qemu-system-arm-portux-fork
**/*.rs.bk
.#*
.gdb_history
Cargo.lock
target/
# exclude binary from gitignore
!target/armv4t-none-eabi/debug/rost

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
